@font-face {
	font-family: 'Forte';
	src: url('font/Forte.eot');
	src: url('font/Forte.eot') format('embedded-opentype'), url('fonts/Forte.woff2') format('woff2'), url('fonts/Forte.woff') format('woff'), url('fonts/Forte.ttf') format('truetype'), url('fonts/Forte.svg#Forte') format('svg');
}


@font-face {
    font-family: 'OurStoryBeginsFREE';
    src: url('../fonts/OurStoryBeginsFREE.eot');
    src: url('../fonts/OurStoryBeginsFREE.eot') format('embedded-opentype'),
         url('../fonts/OurStoryBeginsFREE.woff2') format('woff2'),
         url('../fonts/OurStoryBeginsFREE.woff') format('woff'),
         url('../fonts/OurStoryBeginsFREE.ttf') format('truetype'),
         url('../fonts/OurStoryBeginsFREE.svg#OurStoryBeginsFREE') format('svg');
}


@font-face {
    font-family: 'PoiretOneRegular';
    src: url('../fonts/PoiretOneRegular.eot');
    src: url('../fonts/PoiretOneRegular.eot') format('embedded-opentype'),
         url('../fonts/PoiretOneRegular.woff2') format('woff2'),
         url('../fonts/PoiretOneRegular.woff') format('woff'),
         url('../fonts/PoiretOneRegular.ttf') format('truetype'),
         url('../fonts/PoiretOneRegular.svg#PoiretOneRegular') format('svg');
}




body{background-image: url(../images/bg2.png);
font-family: 'PoiretOneRegular';
background-repeat: no-repeat;
background-size:cover;
background-position:bottom center;
font-size:20px;
font-weight:700;
}


h1,h2,h3,h4,h5,h6{
	font-family: 'OurStoryBeginsFREE';
}

.tube_text p {
    padding: 2% 14%;
}

.socail.text-center {
    margin-top: 50px;
}

section.tubesection {
    margin: 60px 0;
}

ul {
	margin: 0;
	padding: 0;
}
.navbar{
    background: #fff;
}
.custome_navbar ul li a {
	font-size: 1.8em;
	color: #4588b3!important;
	    font-family: 'OurStoryBeginsFREE';
    letter-spacing: 3px;
}

.custome_navbar ul li {
	padding: 0px 30px;
}

.banner h1 {
	color: #4588b3!important;
	font-size: 7em;
	margin-top: -95px;
}

.girl_pic {
    width: 50%;
}

.right_nav_details {
    position: absolute;
    top: 0;
    right: -69px;
}

ul.right_menu li {
	margin-bottom: 26px;
}

ul.right_menu li a {
	font-size: 1.8em;
	color: #4588b3;
}

.booknow {
	font-size: 23px;
	border: 2px solid #000;
	font-family: arial;
	padding: 5px 34px;
	display:none;  
}

.col-md-3.p-0.l1 {
	margin-top: 59px;
}

.col-md-3.p-0.l3 {
	margin-top: 130px;
}


/*****slider*****************/

.d-block.arrow {
	padding-top: 314PX;
}

.float-right.flower {
	margin-top: -110px;
}

.hr_top {
	margin-top: 4rem;
}

.flower_part {
    margin-top: 100px;
}

body hr{
	margin:50px 0;
}

[type=radio] {
	display: none;
}

#slider {
	height: 35vw;
	position: relative;
	perspective: 1000px;
	transform-style: preserve-3d;
	margin: 52px 0;
}

#slider label {
	margin: auto;
	width: 46%;
	height: 100%;
	border-radius: 4px;
	position: absolute;
	left: 0;
	right: 0;
	cursor: pointer;
	transition: transform 0.4s ease;
}

#s1:checked~#slide4,
#s2:checked~#slide5,
#s3:checked~#slide1,
#s4:checked~#slide2,
#s5:checked~#slide3 {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
	transform: translate3d(-30%, 0, -200px);
}

#s1:checked~#slide5,
#s2:checked~#slide1,
#s3:checked~#slide2,
#s4:checked~#slide3,
#s5:checked~#slide4 {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
	transform: translate3d(-15%, 0, -100px);
}

#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3,
#s4:checked~#slide4,
#s5:checked~#slide5 {
	box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
	transform: translate3d(0, 0, 0);
}

#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide4,
#s4:checked~#slide5,
#s5:checked~#slide1 {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
	transform: translate3d(15%, 0, -100px);
}

#s1:checked~#slide3,
#s2:checked~#slide4,
#s3:checked~#slide5,
#s4:checked~#slide1,
#s5:checked~#slide2 {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
	transform: translate3d(30%, 0, -200px);
}

#slide1 {
	background: #00BCD4
}

#slide2 {
	background: #4CAF50
}

#slide3 {
	background: #CDDC39
}

#slide4 {
	background: #FFC107
}

#slide5 {
	background: #FF5722
}


/*****slider closed*****************/

.user p {
	font-size: 24px;
	text-align: center;
}


.flower img.img-fluid {
    float: right;
}

div#xyz ul {
    top: 0 !important;
}

.row.text-center.banner {
    position: relative;
}

.socail.text-center {
    margin-top: 50px;
    width: 100%;
	    position: relative;

}  

.socail.text-center a {
    display: inline-block;
}

.socail.text-center a img {
    display: inline-block;
}
.socail.text-center a img.button_img {
    display: inline-block;
    position: absolute;
    left: 0;
    top: -45px;
}


/*****footer****************/

footer {
	
	padding: 93px 0;
}

footer p {
    color: #fff;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 0;
}

#text{
display:none;
}

.btn-container.treatment_btn {
    width: 100%;
    text-align: center;
    margin: 50px 0;
}

.btn-container.treatment_btn button#toggle {
    padding: 13px 30px;
    font-size: 20px;
}

a.scrolltop {
	position: absolute;
	left: 0;
	bottom: 47px;
	left: -63px;
}

.flower {
	margin-top: -130px;
}


.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #03b5d2;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #03b5d2;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
  font-weight: 700;
      text-transform: uppercase;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded='true'] {
  color: #03b5d2;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 580px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: opacity 200ms linear, max-height 200ms linear;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 20px;
  font-weight: 300;
  margin: 2em 0;
}

.treament_slider_part div#demo .carousel-inner img {
    width: 100%;
}

.treament_slider_part {
    padding: 50px 0;
    background: #969696;
}

.faq_partsss {
    padding: 50px 0;
    background: #fff;
}

.faq_partsss .row {
    margin-bottom: 30px;
}

.treat_text {
    border: 8px solid #fff;
    padding: 53px;
}

html {
  scroll-behavior: smooth;
}

@media(max-width:992px) {
.custome_navbar ul li { padding: 0px 14px;}
.custome_navbar ul li a {font-size: 1.6em;}

body{background-image: url(../images/mobile.jpg);
    font-family: 'Forte';
    background-position: 0px -176px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

footer {padding: 93px 0; background: #111111;}
}
@media(max-width:767px) {

	
	ul.right_menu li {
		margin-bottom: 3px;
	}
	.banner h1 {
		font-size: 5em;
	}
	.socail.text-center {
		display: inline-block;
		margin-top: 50px;
	}
	.col-md-3.p-0.l3,
	.col-md-3.p-0.l2 {
		margin-top: 15px;
	}
	.bookset .col-md-3 {
		margin: 37px 0;
		text-align: center;
		display: block!important;
	}
	.d-block.arrow {
		padding-top: 33PX;
	}
	#slider {
		margin: 52px 0;
	}
	.dummy .dmbtn {
		text-align: center;
	}
	.flower {
		margin-top: 60px;
		text-align: center;
	}
	.hr_top {
		margin-top: 3rem;
	}
	.user .userin {
		text-align: center;
	}
	.user .userimage {
		text-align: center!important;
		margin-top: 20px;
	}
	a.scrolltop {
		left: -6px;  
		;
	}

}



@media(max-width:599px){
    div#xyz {
    overflow: hidden;
      width: 100% !important;
}

div#xyz ul {
    width: 100% !important;
    overflow: hidden !important;
    left: 0 !important;
    margin: 0 !important;
}  


div#xyz ul li {
    width: 100% !important;
    left: 0 !important;
    margin: 0 !important;
}  


.girl_pic {
    width: 100%;
}

.socail.text-center a {
    display: inline-block;
    width: 100%;
    float: left;
    text-align: center;
}


.socail.text-center a img.button_img {
    display: inline-block;
    position: static;
    left: 0;
    top: -35px;
}


}
















